<div class="post">
  <div class="content-r-inner">
    <div class="blogheader">
      <h2 class="blogtitle"><%= posts[i].title %></h2>
      <div class="blogmetainfo">
        <b><%= posts[i].author %></b>
        <span class="infodivider">/</span> <%= posts[i].date %>
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-6">
      <div class="blogdata"> <span class="firstcharacter"><%=posts[i].firstCharacter()%></span>

        <span><%= posts[i].leftSection() %></span>

        <br>
        <br>
        <!-- <div class="blog-short-info"> The wedding day was something
         to behold. It was the most
         beautiful experience that I
         have ever encountered and the guest
         were all there and enjoying the
         moment with me. I am so
         excited to start my new life with my
         beautiful husband. </div> -->
         <br>
         <br>
       </div>
    </div>
    <div class="col-md-6">
      <div class="blogdata">
        <span><%= posts[i].rightSection() %></span>
       </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comments-section">
      <div class="comment featured-cmt">
        <div class="comt-pic"><img src="images/comt-pic.png" alt=""> </div>
        <div class="comt-author">
          <h4>Joan Gonzalez</h4> <span class="comt-date">March 27, 2015</span> </div>
        <div class="comt-txt">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
        </div>
      </div>
      <div class="clear"></div>
      <br>
      <h4>Comments (2)</h4>
      <br>
      <div class="comment main-comment">
        <div class="comt-pic"><img src="images/comt-pic.png" alt=""> </div>
        <div class="comt-author">
          <h4>Joan Gonzalez </h4> <span class="comt-date">March 27, 2015</span>
          <div class="reply-button">/ <a href="#"> Reply</a> </div>
        </div>
        <div class="comt-txt">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
        </div>
      </div>
      <div class="comment sub-comment">
        <div class="comt-pic"><img src="images/comt-pic.png" alt=""> </div>
        <div class="comt-author">
          <h4>Joan Gonzalez </h4> <span class="comt-date">March 27, 2015</span>
          <div class="reply-button">/ <a href="#"> Reply</a> </div>
        </div>
        <div class="comt-txt">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
        </div>
      </div>
      <div class="comment sub-comment-last">
        <div class="comt-pic"><img src="images/comt-pic.png" alt=""> </div>
        <div class="comt-author">
          <h4>Joan Gonzalez </h4> <span class="comt-date">March 27, 2015</span>
          <div class="reply-button">/ <a href="#"> Reply</a> </div>
        </div>
        <div class="comt-txt">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
        </div>
      </div>
      <div class="comment">
        <div class="comt-pic"><img src="images/comt-pic.png" alt=""> </div>
        <div class="comt-author">
          <h4>Joan Gonzalez</h4> <span class="comt-date">March 27, 2015</span>
          <div class="reply-button">/ <a href="#"> Reply</a> </div>
        </div>
        <div class="comt-txt">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam </p>
        </div>
      </div>
      <div class="clear"></div>
      <div class="comment-form">
        <br>
        <div class="col-xs-12">
          <h4>Leave a Reply</h4>
          <br>
          <br> </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label>NAME*</label><span><br><input type="text"></span> </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label>EMAIL*</label>
          <br>
          <input type="text"> </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label>WEBSITE*</label>
          <br>
          <input type="text"> </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br>
          <label>YOUR COMMENT*</label>
          <br>
          <textarea rows="4" cols="8" name="comments"></textarea>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br>
          <input type="submit" value="POST COMMENT" class="submit-button"> </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
